@charset "UTF-8";

table, h2{
	text-align: center;
	margin: 0 auto;
}

a{
	margin-left:8px;
}

footer, header{
	background-color:pink;
	text-align:center;
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
}
nav{
	background-color:skyblue;
}